# This is a basic workflow to help you get started with Actions

name: Build

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches:
      - "master"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    container: ps2dev/ps2dev:latest
    permissions:
      contents: write
    steps:
      - name: Install dependencies
        run: |
          apk add build-base git bash

      - uses: actions/checkout@v2
      - run: |
          git config --global --add safe.directory /__w/biosdrain/biosdrain
          git fetch --prune --unshallow

      - name: Compile project
        run: |
          make clean all
          make clean all NO_RESET_IOP_WHEN_USB=1 EE_BIN=biosdrain-noreset.elf
          mkdir artifacts
          cp biosdrain.elf artifacts/biosdrain.elf
          cp biosdrain-noreset.elf artifacts/biosdrain-noreset.elf

      - name: Increment our tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: steps.tag_version.outputs.new_tag
        with:
          prerelease: true
          files: |
            artifacts/biosdrain.elf
            artifacts/biosdrain-noreset.elf
          tag_name: ${{ steps.tag_version.outputs.new_tag }}

      - name: Upload ELF
        uses: actions/upload-artifact@v2
        with:
          name: biosdrain
          path: artifacts
